.comments-index{
  width: 625px;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

#comments-create{
  border-bottom: 1px solid #C3C2C2;
  color: #444444;
  font-size: 36px;
}

#comments-cheers{
  height: 15px;
  font-size: 12px;
  color: black;
  padding-top: 5px;
  box-sizing: border-box;
}

#comment-items{
  margin-top: 20px;
  border-top: 1px solid #C3C2C2;
}

#comment-item{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #C3C2C2;
}

#comment-icon{
  font-size: 34px;
}

#comment-name-body{
  display: flex;
  flex-direction: column;
}

#comment-name{
  color: #2F98D9;
}

#comment-body{
  color: #707070;
}

#comment-delete-time{
  display: flex;
  justify-content: flex-end;
}

#comment-delete{
  color: #2F98D9;
}

#comment-time{
  color: #707070
}
