input {
  height: 45px;
  width: 320px;
  border: 1px solid lightgray;
  font-size: 14px;
  margin: 15px;
  font-family: 'Mukta Malar', sans-serif;
}


form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#submit input{
  background-color: #1DDD7C;
  border-radius: 3px;
  border: 0px;
  color: white;
}

#div-form{
  display: flex;
  justify-content: center;
}
