.friends-index{
  width: 770px;
  color: #3098d9;
  margin-left: 25px;
}

#friends-index-head{
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}

#friends-index-tabs{
  border: 1px solid #dddddd;
  border-bottom: 0px;
  color: #dddddd;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

#friends-index-count{
  color: #9297a3;
  font-size: 16px;
}

#friends-index-body{
  margin-top: 10px;
}

.friend-item{
  background-color: #F8F8F8;
  color: #197CC2;
  font-size: 14px;
  width: 345px;
  height: 85px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
}
.friend-request-item{
  background-color: #F8F8F8;
  color: #197CC2;
  font-size: 14px;
  width: 770px;
  height: 85px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
}

#friend-info-request{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 740px;
}

#friend-deny{
  width: 60px;
  height: 45px;
  font-size: 14px;
  text-align: center;
  background-color: #EBEBEB;
  color: #818181;
  border-radius: 3px;
}

#friend-deny:hover{
  background-color: #D1D1D1;
  transition: background 0.5s ease-in-out;
}

#friend-accept:hover{
  background-color: #E56E06;
  transition: background 0.5s ease-in-out;
}

#friend-accept{
  width: 70px;
  height: 45px;
  font-size: 14px;
  text-align: center;
  background-color: #FE8714;
  color: #FFFFFF;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

#friend-pic{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 28px;
}
