header {
  margin-top: 1px;
  background-color: #FFFFFF;
  color: #9A9EA9;
  display: flex;
  height: 65px;
  align-items: center;
  box-shadow: 0px 2px 14px 0px rgba(168,168,168,1);
  border-top: solid 1px #dbdbdb;
  // width: 1050px;
}

header h1{
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(#007AC2, #26BCF2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1 span{
  font-weight: normal;
  font-size: 34px;
}

header img{
  height: 65px;
  width: 210px;
}

#nav-id{
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: 840px;
}

.nav{
  padding: 20px;
  font-size: 16px;
  margin-left: 35px;
}

.nav-hover:hover{
  color: black;
}

#logout-greeting{
  display: flex;
  padding-left: 410px;
  justify-content: space-around;
  align-items: center;
}

#greeting{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#greeting span{
  color: #9A9EA9;
}

#greeting button{
  background-color: #1DDD7C;
  color: #FFFFFF;
  width: 60px;
  padding-left: 8.5px;
  padding-right: 8.5px;
  text-align: center;
  height: 30px;
  margin-left: 20px;
  margin-right: 180px;
  font-weight: normal;
}

#routes, #workouts, #friends{
  position: relative;
}

.header-notifications {
  z-index: 5;
  display: none;
  position: absolute;
  width: 160px;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

#routes:hover .header-notifications {
  display: block;
}

#workouts:hover .header-notifications {
  display: block;
}

#friends:hover .header-notifications {
  display: block;
}

.header-notifications > li {
  border: 0.5px solid #d3d6dc;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #9A9EA9;
  font-size: 14px;
  padding-left: 20px;
  align-self: center;
}

.header-notifications > li:hover {
  color: black;
}
